on: [push]
env:
    NAMESPACE: jysindemo-ns2
    REGISTRY_URL_1: jysintestregistry.azurecr.io
    REGISTRY_USERNAME_1: ${{ secrets.AZURE_CLIENT_ID }}
    REGISTRY_PASSWORD_1: ${{ secrets.AZURE_CLIENT_SECRET }}
    IMAGE_NAME_1: jysintestregistry.azurecr.io/jysindemoimage:first
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      
    - uses: azure/k8s-set-context@v1
      with:
         kubeconfig: ${{ secrets.AKS_JYSINAKS2_KUBECONFIG }}
      id: login
    
    - name: Create namespace
      run: |
        namespacePresent=`kubectl get namespace | grep $NAMESPACE | wc -l`
        if [ $namespacePresent -eq 0 ]
        then
            echo `kubectl create namespace $NAMESPACE`
        fi
    
    - uses: Azure/k8s-create-secret@v1
      with:
        namespace: ${{ env.NAMESPACE  }}
        container-registry-url: ${{ env.REGISTRY_URL_1 }}
        container-registry-username: ${{ env.REGISTRY_USERNAME_1 }}
        container-registry-password: ${{ env.REGISTRY_PASSWORD_1 }}
        secret-name: demo-k8s-secret
            
    - uses: Azure/k8s-deploy@users/jysin/ConfigFilePathsAddition1_3
      with:
        namespace: ${{ env.NAMESPACE  }}
        imagepullsecrets: demo-k8s-secret
        manifests: |
          .devcontainer/manifests/deployment.yml
          .devcontainer/manifests/service.yml
        images: |
          ${{ env.IMAGE_NAME_1 }}
